.card-list {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 1rem;
    scroll-snap-type: mandatory;
}
.card {
    cursor: pointer;
    display: block;
    min-width: 20rem;
}
.card:hover img {
    filter: brightness(.8);
    transition: .2s all ease-in-out;
}
.card-title {
    font-size: 15px;
    font-weight: bold;
}
.card-text {
    font-size: 12px;
}
.card-rate {
    font-size: 14px;
    font-weight: bold;
    color: #c4720e;
    margin-right: 4px;
}
.rate-stars i{
    color: #c4720e !important;
    font-size: 12px;

}
.card-rate-count {
    font-size: 12px;
    margin-left: 4px;
}
.card-price {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.card-tag {
    background: #c2e9eb;
    color: #0d5161;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
}
.card-tag:hover {
    background: #c2e9eb;
    color: #0d5161; 
}


/* popover in content ul li*/
.list-course-detail {
    padding: 0;
}
.list-course-detail li {
    margin-top: 4px;
    padding-left: 4px;
    font-size: 13px;
}
.list-course-detail li:before{
    content: '✓' !important;
    font-weight: bold;
    margin-right: 10px;
}