/* Lesson Tabs */

.tab-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 14px;
  padding-left: 0px;
  border-bottom: 1px solid lightgray;
}
.tab-list a {
  padding: 12px;
  color: gray;
  font-weight: bold;
}
.tab-list a:hover {
  color: black !important;
}
.tab-active {
  color: black !important;
  border-bottom: 2px solid black !important;
}
/* Lesson Tabs End */
/* Lesson Categories */
.lessons-content {
  background: #f7f8fa;
  padding: 56px 0px;
  margin-top: -1rem;
}
.category-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 1rem;
  scroll-snap-type: mandatory;
}
.btn-category {
  display: block;
  height: 4.3rem;
  border: none;
  padding: 1.2rem 1.4rem 0.4rem;
  border-radius: 9.6rem;
  text-align: left;
  background: #e9eaf2;
  white-space: nowrap;
}
.btn-category:hover {
  background: #d4d6e6;
}
.btn-category h6 {
  font-weight: bold;
  font-size: 0.9rem;
}
.btn-category p {
  font-size: 11px;
  color: #585b73;
  margin-top: -4px;
}
.category-active {
  background: #2f3040;
  color: white !important;
}
.category-active p {
  color: white !important;
}
.category-active:hover {
  background: #616275;
}

/* Arrow Buttons */
.arrow-buttons {
  position: absolute;
  width: 100%;
  top: 20%;
}
.arrow-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100%;
  background: white;
  color: black !important;
  border: none;
  outline: none;
}
.arrow-left-btn {
  left: -4%;
}
.arrow-right-btn {
  right: -4%;
}
@media (max-width: 992px) {
  .arrow-left-btn {
    left: -8%;
  }
  .arrow-right-btn {
    right: -6%;
  }
}

/* Sadece butona tıklandığında action ekleyeceğim için iconun tıklanma özelliğini devre dışı bırakıyorum */
.fa-angle-left,
.fa-angle-right {
  pointer-events: none;
}

/* Lesson Categories End */


/*  */